@import url("https://fast.fonts.net/cssapi/ef6712b7-d3dd-4547-bfea-f54a5ffe1c95.css");

html {
	height: 100%;
}
body {
	min-height: 100%;
	padding-bottom: 150px;
	position: relative;
}

#branded-header > nav {
	background-color: #1ABC9C;
	border: none;
}

#branded-header button.navbar-toggle {
	margin: 23px 15px;
	border-color: #fff;
}

#branded-header .logo {
	display: block;
	line-height: 80px;
	font-size: 24px;
	height: 80px;
	color: #fff;
}

#branded-header .navbar-inverse .navbar-nav > li > a  {
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}




#branded-footer {
	background-color: #000;
	overflow: hidden;
	color: #ddd;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
}

#branded-footer .social {
	margin: 0;
	padding: 0.25em 1em 0.25em 0;
	list-style: none;
	text-align: left;
	font-size: 1.5em;
}

#branded-footer .social li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}




.page-header { color: #1ABC9C; }
h1, h2, .btn { font-family: 'Populaire Light1263935', Arial, sans-serif; }
h1 {font-size: 5em;}
h2 {font-size: 3.5em;}

.btn {
	font-size: 2em;
	letter-spacing: 1px;
	padding: 4px 2em 0px;
	margin-top: 0.25em;
}

.btn.input-group-addon {
	padding: 6px 12px;
	font-size: 1em;
}

.btn.btn-primary {
	background-color: #F3A346;
	border: #F3A346;
	border: rgba(0,0,0,0.5);
}

.btn.btn-default {
	background-color: #eee;
}