@import url("https://fast.fonts.net/cssapi/ef6712b7-d3dd-4547-bfea-f54a5ffe1c95.css");

html {
	height: 100%;
}
body {
	min-height: 100%;
	padding-bottom: 200px;
	position: relative;
}

#branded-header > nav {
	background-color: #1ABC9C;
	border: none;
}

#branded-header button.navbar-toggle {
	margin: 23px 15px;
	border-color: #fff;
}

#branded-header .logo {
	display: block;
	line-height: 80px;
	font-size: 24px;
	height: 80px;
	color: #fff;
}

#branded-header .navbar-inverse .navbar-nav > li > a  {
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}




#branded-footer {
	overflow: hidden;
	color: #ddd;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#branded-footer ul {
	margin: 0;
	padding: 0;
}

#branded-footer li {
	list-style: none;
	display: inline;
}

#branded-footer .links a {
	color: #666;
	font-weight: bold;
	padding-right: 1em;
}
#branded-footer .social {
	text-align: right;
}
#branded-footer .social a {
	color: #666;
	font-size: 1.5em;
	padding-left: 0.75em;
	text-align: right;
	position: relative;
	top: -0.25em;
}
#branded-footer .copyright {
	color: #eee;
	background: #000;
	padding: 1em;
	text-align: center;
}

@media (max-width: 767px){
	#branded-footer * { text-align: center; }
}




.page-header, label { color: #1ABC9C; }
.checkbox label, .radio label { color: #333; }
h1, h2, .btn { font-family: 'Populaire Light1263935', Arial, sans-serif; }
h1 {font-size: 5em;}
h2 {font-size: 3.5em;}

.btn {
	font-size: 2em;
	letter-spacing: 1px;
	padding: 4px 1.7em 0px;
	margin-top: 0.25em;
}

.btn.input-group-addon {
	padding: 6px 12px;
	font-size: 1em;
}

.btn.btn-primary {
	background-color: #F3A346;
	border: #F3A346;
	border: rgba(0,0,0,0.5);
}

.btn.btn-default {
	background-color: #eee;
}