.fileinput .fileinput-preview {
	overflow: hidden;
}
.fileinput .fileinput-preview.panel {
	height: 34px;
	padding: 6px;
	margin-bottom: 12px;
	text-align: center;
}

.fileinput .fileinput-preview img {
	margin-bottom: 12px;
	max-width: 100%;
	max-height: 150px;
}
.fileinput .fileinput-preview.panel img {
	margin-bottom: 0px;
}

.fileinput .fileinput-preview a {
	margin-bottom: 8px;
	display: inline-block;
	text-align: left;
	white-space: nowrap;
}
.fileinput .fileinput-preview.panel a {
	margin-bottom: 0px;
	display: block;
	padding: 0 6px;
}




.fileinput .fileinput-select,
.fileinput .fileinput-change,
.fileinput .fileinput-uploading,
.fileinput .fileinput-remove,

.fileinput.fileinput-is-empty .fileinput-change,
.fileinput.fileinput-is-empty .fileinput-uploading,
.fileinput.fileinput-is-empty .fileinput-remove,

.fileinput.fileinput-is-loading .fileinput-select,
.fileinput.fileinput-is-loading .fileinput-change,
.fileinput.fileinput-is-loading .fileinput-remove,

.fileinput.fileinput-is-loaded .fileinput-select,
.fileinput.fileinput-is-loaded .fileinput-uploading,
.fileinput.fileinput-is-loaded .fileinput-remove {
	display: none;
}

.fileinput.fileinput-is-empty .fileinput-select,
.fileinput.fileinput-is-loading .fileinput-uploading,
.fileinput.fileinput-is-loaded .fileinput-change,
.fileinput.fileinput-is-loaded .fileinput-remove {
	display: inline;
}

.fileinput.fileinput-is-loading .fileinput-action {
	opacity: 0.5;
}
.fileinput.fileinput-is-loading {
	pointer-events: none;
	cursor: progress;
}