@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["USER_LMS"] != null)
    {
        var usr = Session["USER_LMS"];
        Response.Redirect("~/courses.html");
        Session["USER_LMS"] = usr;
    }
    else
    {
        Response.Redirect("~/login.html");
    }
    
    
}

<h2>User stuff [@Session["USR_ID"]]</h2>
@using (Html.BeginForm("UploadThumbnail", "Courses", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        @if (Session["USR_ID"] != null)
        {
            <a href="~/courses.html" target="_blank">go to courses</a><br/>
            <a href="~/admin-courses.html" target="_blank">admin courses</a>
        }
        else
        {
            <h4>User not logged in</h4>
        }
        <!--<input type="text" name="txtDemo" id="txtDemo">
        <input id="File1" type="file" name="File1"/>
        <input id="Submit1" type="submit" value="submit" />-->
    </p>
}
<script src="components/jquery/jquery.min.js"></script>
<script>
    /**
    $(document).ready(function () {
        var jsonData = { "data": { "userId": 123, "key": "fde7c9b379106e6a7473f29131f0cfc5ee6e7626980642ea04e2390a8b1c512c1aff526b6025e19ba6dc763f365d39a8d0ba87ff32656de402644eca50acb71f" } };
        $.ajax({
            url: "External/LoginUser",
            dataType: "json", method: 'GET', data: JSON.stringify(jsonData)
        })
            .done(function (r) {
                $('#message').html(r.status);
            })
            .fail(function (r) {
                $('#message').html(r.status);
            });
    });**/

    //var object = '{"data":{"courseId":"123"}}';
    //var json = JSON.parse(object);
    
    //function loadLMSSettings() {
    //    $.ajax({
    //        url: "User/Login",
    //        dataType: "json", method: 'GET',
    //        error: function (XMLHttpRequest, textStatus, errorThrown) {
    //            alert(errorThrown);
    //        }
    //    });
        
    //}

</script>
