<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>User Course Screen</title>
    <script src="../../Scripts/jquery-1.11.2.min.js"></script>
    <script>
        //jquery calls for player
        function loadPlayer() {
            var jsObject = '{"data":{"courseId":"123"}}';
            var postback = $.post('/Home/Fetch', {jsonModel:jsObject});
            postback.done(function (data) {
                var jsonVar = data.data.id;
                //alert(jsonVar);
                $('#response').html(JSON.stringify(data));
            });
        }

        function Commit() {
            var jsObject = '{"data":{"cmi.core.x": "123", "cmi.student_id": "123"}}';
            var postback = $.post('/Home/Commit', { jsonModel: jsObject });
            postback.done(function (data) {
                //scorm data
                //var scorm_data = JSON.parse(data.data.dataModel);
                //$('#commitResponse').html(JSON.stringify(scorm_data));
                //resultset
                $('#commitResponse').html(JSON.stringify(data));
            });
        }

    </script>
</head>
<body>
    <h1>LMS RD</h1>
    <p>JSon and JavaScript</p>

    <p>Test json post<input type="button" onclick="loadPlayer();" value="Test Fetch"/></p>

    <p><span id="response" name="response"</span></p>

    <p>Test json post<input type="button" onclick="Commit();" value="Test Commits" /></p>

    <p><span id="commitResponse" name="commitResponse"</span></p>
</body>

</html>
